<!DOCTYPE html>
<html>
<head>
  <title>GlacierBridge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href=<%= image_path("bridge.png") %> >
</head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><img class="img-thumbnail" height="50px" width="50px" style="margin-top: 10px; background-color: transparent; border: none;" src=<%= image_path("bridge.png") %> /></li>
              <li><h2>Glacier Bridge</h2></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><div class="btn btn-lg btn-primary">Region: <%= @region %></div></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
      <% if ! flash[:success].nil? %>
        <div name="alert alert-success" class="alert alert-success">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash[:success] %>
        </div>
      <% elsif ! flash[:notice].nil? %>
        <div name="alert alert-info" class="alert alert-info">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <span class="sr-only">Info:</span>
          <%= flash[:notice] %>
        </div>
      <% elsif ! flash[:alert].nil? %>
        <div name="alert alert-warning" class="alert alert-warning">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Warning:</span>
          <%= flash[:alert] %>
        </div>
      <% elsif ! flash[:error].nil? %>
        <div name="alert alert-danger" class="alert alert-danger">
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
