<h1 class="h1">List of the vaults</h1>

<div name="vault_menu">
  <%= link_to "Create Vault", glacier_new_vault_path, class: "btn btn-default" %>
  <%= link_to "Upload Archive", glacier_new_archive_path, class: "btn btn-default" %>
  <%= link_to "Jobs", glacier_list_jobs_path, class: "btn btn-default" %>
  <%= link_to "View Session", glacier_session_memory_path, class: "btn btn-default" %>
</div>
<div name="list_of_vaults">
  <table class="table">
    <thead>
      <tr>
        <th>Vault Name</th>
        <th>Vault ARN</th>
        <th>Size</th>
        <th>Archives</th>
        <th>Created</th>
        <th>Last Inventory Date</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>
    </tbody>
      <% @vaults_list.each do | describe_vault | %>
        <tr>
            <td><%= describe_vault.vault_name %></td>
            <td><%= describe_vault.vault_arn %></td>
            <td><%= describe_vault.size_in_bytes %></td>
            <td><%= describe_vault.number_of_archives %></td>
            <td><%= describe_vault.creation_date %></td>
            <td><%= describe_vault.last_inventory_date %></td>
            <td><%= link_to '4',
                        glacier_inventory_retrieval_path(describe_vault.vault_name),
                        { method: "get",
                          class: "action_link",
                            title: "Inventory",
                            data: { confirm: "Are you sure you want to start a inventory retrieval for the vault \"#{describe_vault.vault_name}\"?" }
                        }
                  %></td>
            <td title="Coming soon" class="action_link">!</td>
            <td><%= link_to 'รป',
                      glacier_destroy_vault_path(describe_vault.vault_name),
                      { method: "delete",
                        class: "action_link",
                        title: "Destroy",
                        data: { confirm: "Are you sure you want to destroy the vault \"#{describe_vault.vault_name}\"?" }
                      }
                  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
