<h1 class="h1"> List of Jobs</h1>
<div class="menu">
  <%= link_to "Back", :back, class: "btn btn-default" %>
</div>
<div name="list_of_jobs">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Action</th>
        <th>Archive ID</th>
        <th>Vault Name</th>
        <th>Creation</th>
        <th>Status</th>
        <th>Arc Size</th>
        <th>Inv Size</th>
        <th>Completion</th>
        <th>Format</th>
        <th>Start</th>
        <th>End</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @job_list.each do | job_description | %>
      <tr>
        <td><%= job_description[:job_description] %></td>
        <td><%= job_description[:action].value  %></td>
        <td><%= job_description[:archive_id] %></td>
        <td><%= job_description[:vault_name] %></td>
        <td><%= job_description[:creation_date] %></td>
        <td><%= job_description[:status_code].value %></td>
        <td><%= job_description[:archive_size_in_bytes] %></td>
        <td><%= job_description[:inventory_size_in_bytes] %></td>
        <td><%= job_description[:completion_date] %></td>

        <td><%= job_description[:inventory_retrieval_parameters][:format].value %></td>
        <td><%= job_description[:inventory_retrieval_parameters][:start_date] %></td>
        <td><%= job_description[:inventory_retrieval_parameters][:end_date] %></td>

        <td><%= link_to "",
                  glacier_inventory_download_path(id: job_description[:job_id], vault_name: job_description[:vault_name]),
                  { method: "get",
                    class: "glyphicon glyphicon-download",
                    title: "Download",
                    data: { confirm: "Are you sure you want to download the inventory?" }
                  }
            %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
